<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HANIUM</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/flat/blue.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Select2 -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!--nav + search + side-->
  <% include ./nav.ejs %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">친구 관리</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- friends list -->
        <div class="row">
          <div class="col-sm-12">
            <!-- Custom Tabs -->
            <div class="card">
              <div class="card-header d-flex p-0">
                <ul class="nav nav-pills mr-auto p-2">
                  <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">즐겨찾기</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">그룹</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body p-0">
                <div class="tab-content">
                  <!-- /.tab-pane -->
                  <div class="tab-pane active" id="tab_1">
                    <div class="row">
                      <div class="col-sm-12 table-responsive">
                        <div id="Fav_wrapper" class="dataTables_wrapper no-footer">
                          <!-- 즐겨찾는 계정 리스트 -->
                          <table id="Fav" class="table table-striped" role="grid" cellspacing="0" width="100%">
                            <thead>
                                <tr role="row">
                                    <th aria-controls="Fav">이름</th>
                                    <th aria-controls="Fav">회사</th>
                                    <th aria-controls="Fav">부서</th>
                                    <th aria-controls="Fav">직책</th>
                                    <th style="width: 60px"></th>
                                </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div  class="float-right">
                      <!-- 친구 추가 버튼 -->
                      <button type="button" class="btn btn-info btn-primary m-2" id="inputParticipant" data-toggle="modal" data-target="#addfavoriteModal">친구추가</button>
                    </div>
                  </div>

                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="tab_2">
                    <div class="row">
                      <div class="col-sm-12 table-responsive">
                        <div id="Group_wrapper" class="dataTables_wrapper no-footer">
                          <!-- 그룹 리스트 -->
                          <table id="Group" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>그룹이름</th> <!--그룹이름-->
                                    <th>멤버</th> <!--그룹멤버-->
                                    <!-- <th style="width: 60px"></th> 삭제버튼 -->
                                </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div  class="float-right">
                      <!-- 그룹 추가 버튼 -->
                      <button type="button" class="btn btn-info btn-primary m-2" id="inputParticipant" data-toggle="modal" data-target="#addgroupModal">그룹추가</button>
                    </div>
                  </div>
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- END CUSTOM TABS -->
        </div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!--footer-->
  <% include ./footer.ejs %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- 친구 추가 모달창 -->
<!-- add favorite Modal -->
<div id="addfavoriteModal" class="modal fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">새로운 친구 찾기</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="search input-group" class="dataTables_filter">
              <input type="text" class="form-control" placeholder="id를 검색해주세요" id="uid" aria-describedby="result">
              <span class="input-group-append">
                <button type="button" class="btn btn-info" onclick=searchFav()>검색</button>
              </span>
            </div>
              <p id="result"></p>
            <div id="resultFav" class="searchResult table-responsive p-0">
              <table class="table">
                <tbody>
                  <tr>
                    <th>이름</th>
                    <th>회사</th>
                    <th>부서</th>
                    <th>직책</th>
                  </tr>
                  <tr>
                    <td id="uname"></td>
                    <td id="company"></td>
                    <td id="department"></td>
                    <td id="position"></td>
                  </tr>
                </tbody>
              </table>
              <button type="button" id="addFav" class="btn btn-primary float-right" data-dismiss="modal">추가하기</button>
            </div>
            <p> </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- add group Modal -->
<div id="addgroupModal" class="modal fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">새로운 그룹 추가</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form action="/group/add" method="post">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text">그룹명</label>
            </div>
            <input type="text" class="form-control" placeholder="그룹명을 입력해주세요" name="groupname" id="gname">
          </div>
          <div class="form-group mb-3">
            <select class=" form-control select2" multiple="multiple" data-placeholder="Selct fav" id="selOption" style="width: 100%">
              <option>크러쉬</option>
              <option>박서준</option>
              <option>황민현</option>
              <option>백승호</option>
            </select>
          </div>
          <!-- 원래 쓰려했던 table... select가 가능하다면 지울 예정!
          <table id="selFav" class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr role="row">
                <th aria-controls="selFav">이름</th>
                <th aria-controls="selFav">회사</th>
                <th aria-controls="selFav">부서</th>
                <th aria-controls="selFav">직책</th>
                <th style="width: 60px"></th>
              </tr>
            </thead>
          </table>
        -->
          <button type="submit" class="btn btn-info float-right" data-dismiss="modal" id="group-modal-submit">추가</button>
        </form>
      </div>
    </div>

  </div>
</div>

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- Sparkline -->
<script src="/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- Slimscroll -->
<script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- 활성화 시, 모달창 작동 에러
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<!-- Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript">

  $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) { //탭이 보여지고 난 후
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
    } );

  // 즐겨찾는 계정 전체 검색
  function printFavorite(){

    $("#Fav").find("tr:gt(0)").remove(); // 첫번째행 빼고 다 지우기

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "/add/favorite",
      "method": "GET",
      "headers": {
        "Content-Type": "application/json",
        "Cache-Control": "no-cache",
        "Postman-Token": "3a24d6f9-c770-48f6-9f47-2f5a2054b8dc"
      }
    }

    // response
    // 검색 성공시: [{userid, username, comname, department, position}]
    // 검색 실패시: {message: ""}
    $.ajax(settings).done(function (response) {
      for(var i=0; i<response.length; i++){
        var data = `
        <tr>
          <td>${response[i].uname}</td>
          <td>${response[i].company}</td>
          <td>${response[i].department}</td>
          <td>${response[i].position}</td>
          <td><button type="button" class="btn btn-tool" onclick=delFav(${response[i].unum})><i class="fa fa-times"></i></button></td>
        </tr>
        `
        $("#Fav").append(data);
      }
    });
  }

  // 아이디로 계정 검색
  function searchFav(){
    var uid = $('#uid').val();

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "/add/search",
      "method": "POST",
      "headers": {
        "Content-Type": "application/json",
        "Cache-Conthol": "no-cache",
        "Postman-Token": "4bb75ee8-28d5-4be9-b720-41b40830f218"
      },
      "processData": false,
      "data": `{\n\t\"uid\": \"${uid}\"\n}`
    }

    // response
    // 검색 성공시: {unum, userid, username, comname, department, position}
    // 검색 실패시: {message: ""}
    $.ajax(settings).done(function(response) {
      if(response.message) { //에러 메세지는 message에 저장됩니다. message가 있음 에러난거임.
        $("#result").text("결과: "+response.message);
        $("#uname").text("");
        $("#company").text("");
        $("#department").text("");
        $("#position").text("");
        $('#resultFav').hide();
        $('#addFav').hide();
      } else { // message 없으면 검색 결과가 반환된거.
        $("#result").text("결과: 성공");
        $('#resultFav').show(); //검색결과 까꿍
        $("#uname").text(response.uname);
        $("#company").text(response.company);
        $("#department").text(response.department);
        $("#position").text(response.position);
        // 이미지는 추후에 작업할테니 아무거나 폴더에서 끌어와서 작업바람.
        $('#addFav').removeAttr('onclick'); //원래 있는 onclick 함수 삭제하고
        $('#addFav').attr('onClick', `addFav(${response.unum})`); //검색한 계정의 unum으로 파라미터 수정
        $('#addFav').show(); //추가하기 버튼 까꿍
      }
    });
  };

  // 즐겨찾는 계정 추가하기
  // 파라미터: 검색시 수정했던 친구의 unum
  function addFav(fnum){

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "/add/favorite",
      "method": "POST",
      "headers": {
        "Content-Type": "application/json",
        "Cache-Conthol": "no-cache",
        "Postman-Token": "92a89799-3174-4146-8c20-9258ef3a7bfa"
      },
      "processData": false,
      "data": `{\n\t\"fnum\": ${fnum}\n}`
    }

    // response
    // 검색 성공시: null
    // 검색 실패시: {message: ""}
    $.ajax(settings).done(function (response) {
      if(response){ //response가 있다는 것 자체가 에러난거임
        alert(response.message);
      } else {
        printFavorite(); //즐겨찾는 계정 리스트 다시 프린트
      }
    });
  };


  // 즐겨찾는 계정 삭제
  function delFav(fnum){

    var settings = {
      "async": true,
      "crossDomain": true,
      "url": `/add/favorite?fnum=${fnum}`,
      "method": "DELETE",
      "headers": {
        "Content-Type": "application/json",
        "Cache-Control": "no-cache",
        "Postman-Token": "42821cee-7376-4895-b347-4bc505c0865e"
      }
    }

    // response
    // 검색 성공시: null
    // 검색 실패시: {message: ""}
    $.ajax(settings).done(function (response) {
      if(response){ //response가 있다는 것 자체가 에러난거임
        alert(response.message);
      } else {
        printFavorite(); //즐겨찾는 계정 리스트 다시 프린트
      }
    });
  }


$(document).ready(function() {

    //그룹 테이블
    $('#groupTable').DataTable( {
        "ajax": {
          "url": '/group/find/query',
          "dataSrc" : "",
        },
        "columns": [
          { "data": "groupname" },
          { "data": "member" }
        ],
        "scrollY":        200,
        "scrollCollapse": true,
        "paging":         false
    });

    /* 이곳 역시 select2 성공시 삭제 예정~
    //그룹추가-참여자 선택을 위한 친구 테이블
    var table2 = $('#favoriteTable2').DataTable( {
        "ajax": {
          "url": '/favorite/find',
          "dataSrc" : "",
        },
        "columns": [
          { "data": "username" },
          { "data": "comname" },
          { "data": "department" },
          { "data": "position" }
        ],
        "scrollY":        200,
        "scrollCollapse": true,
        "paging":         false
    });
    //선택한 행
    $('#favoriteTable2 tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );
    //'추가'버튼 클릭시 서버로 전달되는 data (member)
    $('#group-modal-submit').click( function () {
        var member = table2.rows('.selected').data();
        alert(
          "다음의 데이터가 서버에 제출되었습니다: \n\n"+member.substr(0, 120)+'...'
          );
        return false;
    } );
    */

});
</script>
<!-- jquery script -->
<script>

  $(document).ready(function(){ // 처음 페이지 로드 시,
    $('#resultFav').hide(); // 아이디 검색결과 테이블 틀 없애주고
    $('#addFav').hide(); // 추가버튼 없애주고
    printFavorite(); // 즐겨찾는 계정 리스트 프린트
  });

  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2();
  })

</script>

<script src="/dist/js/multiselect.js"></script>
</body>
</html>
